body {
  text-align: center; 
  color: black;
  font-family: 'Athiti', sans-serif;
  height: 100%;
  margin:auto;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-size:8em;
}

h2 {
  font-size: 3.5em;
}

.price {
  display:inline;
  padding-right: 30px;
}

.condition {
  display:inline;
}

.title {
  color: white;
  padding-bottom: 10px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 250px;
}

.titlePage {
  background:url("https://github.com/chrisjim316/Amazon-Seller-Website/blob/master/Images/Intro-desktop.jpg?raw=true");
  background-size: cover;
  height: 600px;
}

#overlay {
  background: rgba(0, 0, 0, 0.76);
  height: 600px;
}

.mainBG {
  background:url("https://github.com/chrisjim316/AmazonSeller-LilJimbo/blob/master/Images/marbleBG-desktop.jpg?raw=true");
  min-height: 100%;
}

.books {
  padding: 50px 50px 50px 50px;
}

.book-img {
  height: 200px;
  width: 200px;
}

#bookTitle {
  font-size: 2.8em;
  cursor: pointer;
}

.bookDescription {
  font-size: 1.4em;
  text-align: left;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

/* search form element customization */
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 150%;
  color: black;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 60%;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 80%;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* 
background scroll effects only work in desktop versions with larger   screen sizes, preventing background images from getting distorted in smaller tablets, phones, etc.  
*/
@media (min-width:1400px)   {
  .pageOne, .pageTwo, .pageThree, .pageFour, .pageFive {
      background-attachment: fixed;
      background-position: center; 
   }
}

/*mobile screens */
@media (max-width: 800px) and (min-width: 300px) {
  h1 {
    font-size: 13vw;
  }
  h2 {
    font-size: 7vw;
  }
  .title {
    padding-bottom: 10px;
    width: 80%;
    top: 100px;
  }
  .titlePage {
    height: 370px;
  }
  .mainBG {
    background: url("https://github.com/chrisjim316/AmazonSeller-LilJimbo/blob/master/Images/marbleBG-mobile.jpg?raw=true");
    background-size: contain; 
  }
  #bookTitle {
    font-size: 8vw;
  }
  .bookDescription {
    font-size: 4vw;
  }
  .price {
    padding-right: 0;
    font-size: 6vw;
    display: block;
  }
  .condition {
    font-size: 6vw;
    display: block;
  }
}
