body, html {
  text-align: center; 
  background: silver;
  color: black;
  font-family: 'Athiti', sans-serif;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: white;
}

.titlePage {
  background: black;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  border-style: solid;
  border-width: medium;
  border-color: blue;
}

.books {
  padding: 50px 50px 50px 50px;
}

.book-img {
  height: 200px;
  width: 200px;
}


/*mobile screens */
@media (max-width: 800px) and (min-width: 300px) {
}
